/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Set professional font */
body {
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: linear-gradient(135deg, #83bbec, #1e2f3d); /* Professional gradient color */
  color: #ffffff;
}

/* Header styling */
header {
  text-align: center;
  margin-bottom: 20px;
}

h1 {
  font-size: 3rem;
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
}

/* Main container */
.container {
  background-color: rgba(255, 255, 255, 0.1);
  padding: 20px;
  border-radius: 10px;
  width: 100%;
  max-width: 600px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* Text input areas */
.text-input textarea {
  width: 100%;
  height: 100px;
  border: none;
  border-radius: 5px;
  padding: 30px;
  font-size: 1rem;
  background-color: rgba(255, 255, 255, 0.8);
  color: #333;
  resize: none;
  font-family: 'Roboto', sans-serif;
}

.text-input textarea::placeholder {
  color: #666;
}

.text-input textarea:disabled {
  background-color: rgba(255, 255, 255, 0.6);
}

/* Language selection controls */
.controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

select {
  padding: 10px;
  font-size: 1rem;
  border-radius: 5px;
  border: none;
}

/* Exchange Icon */
.exchange i {
  font-size: 1.5rem;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.exchange i:hover {
  transform: rotate(180deg);
}

/* Buttons and icons */
button.translate-btn, .icons i {
  background-color: #5599d4;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

button.translate-btn:hover, .icons i:hover {
  background-color: #0b253b;
  transform: translateY(-2px);
}

.icons {
  display: flex;
  gap: 10px;
}

button.translate-btn {
  width: 100%;
  font-size: 1.2rem;
  margin-top: 15px;
  
}

/* Responsive design */
@media screen and (max-width: 768px) {
  .container {
      width: 90%;
  }

  h1 {
      font-size: 2.5rem;
  }
}
